# dependencies
node_modules/

# next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# cursor
.cursor/
.antigravitycli